body{
    margin:20px;
}

.chat{
    background-color: rgb(153, 224, 246);
    padding: 10px;
     border-radius: 6px;
    display: inline-block;
}

.msg{
    background-color: rgb(179, 112, 242);
    color:azure;
    padding: 5px 15px;
    border-radius: 5px;
   
}